

#myDiv{
    margin: 70px auto;
    padding: 40px;
    display:flex;
    align-items: center;
    justify-content: center;



}

#foti{

    height: 70px;
    width: 70px;
    border-radius: 70px;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 10px;
    display: block;
    justify-content: center;
    /* filter:opacity(0%) */
}
/* 
#foti:hover{
    /* filter:opacity(100%) */

#card{
    height: 500px;
    width: 280px;
   list-style-type: none;
   border: 4px outset tomato ;
   border-radius: 10px;
   /* background-color: hsla(9, 100%, 64%, 0.5); */
   box-sizing:  content-box;
   background-image: url("../img/card.image-2.jpg");



   /* background-color: aqua; */
    

}

#first-div{
    margin-top: 5px;
    margin-left: -35px;
    height: 100px;
    width: 310px;
    background-color: rgb(251, 113, 88);
    border-radius: 10px;
    display: block;
    

}

.user1{
    color: antiquewhite;
    padding: 10px;
    margin-top:10px;
    margin-left: 50px;
    font-size: 40px;
    font-style: italic;   
    text-decoration:solid; 
    font-weight: bold;

}.user2{
    color: antiquewhite;
    padding-left:45px;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    
}
#second-div{
    height: 300px;
    width: 200px;
    padding-left: 0;
    padding-top: 5px;
    line-height: 25px;
    /* background: linear-gradient(#f5a935,#f97212); */

}
.user{
    padding-top: 5px;
}