#myDiv{
    margin: 150px auto;
    padding: 40px;
    width: 150px;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/img/card.image-2.jpg");
}

#foti{
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#card{
    height: 350px;
    width: 250px;
    border: solid 2px;
   

}